{{#default}} 
export declare const {{key}}: {{type}};
{{/default}}

export declare const mobile: {
{{#mobile}} 
  {{key}}: {{type}};
{{/mobile}}
};

export declare const web: {
{{#web}} 
  {{key}}: {{type}};
{{/web}}
};
