declare const common: {
    {{#tokens}} 
      {{key}}: any;
    {{/tokens}}
};
export default common;

export declare const mobile: {
    {{#tokens}} 
      {{key}}: any;
    {{/tokens}}
};

export declare const web: {
    {{#tokens}} 
      {{key}}: any;
    {{/tokens}}
};
