declare const common: {
{{#tokens}} 
  {{key}}: string | number;
{{/tokens}}
};
export default common;

export declare const mobile: {
{{#tokens}} 
  {{key}}: string | number;
{{/tokens}}
};

export declare const web: {
{{#tokens}} 
  {{key}}: string | number;
{{/tokens}}
};
