name: Close Pull Request

# only trigger on pull request closed events
on:
  pull_request:
    types: [ closed ]

jobs:
  merge_job:
    # this job will only run if the PR has been merged
    if: github.event.pull_request.merged == true && github.event.pull_request.labels[0].name == 'figma-bot'
    runs-on: ubuntu-latest
    steps:
    - run: |
        echo PR #${{ github.event.number }} has been merged
    - run: echo '${{ toJson(github) }}'
    - uses: actions/setup-node@v1
    - uses: actions/checkout@v2.1.0
      with:
        node-version: 14.x    
    - run: npm ci
    - run: npm run store-json -- -i '${{ github.event.pull_request.body }}'
    - name: Add changes to Git tracking
      run: git add -A .
      
    - name: Commit changes
      uses: gha-utilities/workspace-commit@v0.0.3
      with:
        all: true
        
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: master
 
    - run: npm run build
    - uses: JS-DevTools/npm-publish@v1
      with:
        token: ${{ secrets.NPM_TOKEN }}
